@model IEnumerable<FlyrodAPIClientMVC.Models.Flyrod>

@{
    ViewData["Title"] = "Index";
}

<h1 class="page-header">Flyrods</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Maker.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Model)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LengthFeet)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Sections)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.LineWeight)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.YearMade)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            @*<th>
            @Html.DisplayNameFor(model => model.Construction)
            </th>*@
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            Console.Write("Array element: " + item);
        }
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Maker.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LengthFeet)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Sections)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.LineWeight)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.YearMade)
            </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                @*<td>
            @Html.DisplayFor(modelItem => item.Construction)
            </td>*@
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="just-red">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="just-red">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="just-red">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>